@font-face 
{
    font-family: chakra;
    src: url(ChakraPetch-Bold.ttf);
};

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Courier New', Courier, monospace;
}

body
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #16003d;
}

.textprofile
{
    font-family: chakra;
    color: #fff;
}

.btn-navigation .social-shortcut
{
    display: flex;
    position: absolute;
    height: 200;
    width: 150px;
    transform: translateX(-20px);
    bottom: 0;
}

.btn-navigation .social-shortcut li
{
    position: relative;
    list-style: none;
    width: 40px;
    margin: 50px 5px;
    font-size: 2em;
}

.btn-navigation .social-shortcut li .icon-youtube
{
    background: #fff;
    color: red;
    transform: translateX(-55px);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 3px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

.btn-navigation
{
    position: relative;
    width: 170px;
    background: #09001a;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.btn-navigation .navigation li
{
    position: relative;
    list-style: none;
    width: 80px;
    margin: 50px 25px;
}

.btn-navigation .navigation li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
}

.btn-navigation .navigation li a .icon
{
    position: absolute;
    font-size: 1.75em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
}

.btn-navigation .navigation li.active a .icon
{
    background: #006aff;
    color: #fff;
    transform: translateX(-55px);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 3px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

.btn-navigation .navigation li a .text
{
    position: absolute;
    font-size: 1em;
    opacity: 0;
    color: #000;
    font-family: chakra;
    border-radius: 15px;
    transform: translateX(20px);
    padding: 2px 10px;
    background: #fff;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset -3px -3px 5px rgba(0,0,0,0.5);
    transition: 0.5s;
    transition-delay: 0s;
}

.btn-navigation .navigation li.active a .text
{
    opacity: 1;
    transform: translateX(15px);
    transition-delay: 0.2s;
}