@font-face {
    font-family: 'Play';
    src: url(/zlibraries/dEthisGoogleFonts/Play-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play';
}

body{
    background: #ffcfb8;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: #1b003a;
}
.logo{
    position: relative;
    margin: 0 15px;
    display: flex;
    width: auto;
    padding: 5px 30px;
    background: #1b003a;
    border-radius: 0 50px;
    box-shadow: inset -10px -5px 10px #4f00aa,
    inset 10px 5px 10px #110025,
    -10px -5px 10px #200044;
}
.logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar{
    position: relative;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.navbar-items{
    position: relative;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
}
.navbar-items a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
}
.navbar-items a .icon{
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 30px;
    transition: .3s;
    text-align: center;
    color: #ffffff77;
}
.navbar-items a:hover .icon{
    color: #ffffff;
}
.navbar-items.active a .icon{
    color: #a200ff;
    transform: translateY(-16px);
}
.navbar-items a .text{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    transform: translateY(25px);
    letter-spacing: 1px;
    opacity: 0;
    transition: .3s;
}
.navbar-items.active a .text{
    opacity: 1;
    transform: translateY(0);
}

.main{
    background: #fff;
    min-height: 100vh;
}
.contents{
    display: flex;
    margin: 0 25px;
    padding: 80px 150px 0 150px;
    min-height: 100vh;
}
.canvas{
    width: 100%;
}
.canvas .title{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #000;
}
.canvas .text{
    display: flex;
    font-size: 20px;
    text-align: center;
}
#de-main{
    align-items: center;
}
#de-main .title{
    font-size: 64px;
    margin: 30px 0;
}
#de-profil .title{
    margin-bottom: 30px;
}
#de-profil .photo{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#de-profil img{
    width: 260px;
    border-radius: 50%;
}
#de-study{
    align-items: center;
}
#de-study .title{
    margin-bottom: 10px;
}
#de-family{
    align-items: center;
}
#de-family .title{
    margin-bottom: 10px;
}
#de-experience{
    align-items: center;
}
#de-experience .title{
    margin-bottom: 10px;
}


.footer{
    display: flex;
    color: #fff;
    background: #000;
    min-height: 15vh;
}
.list-link, .contact-list, .afiliasi{
    margin: 15px;
    width: 100%;
}
.list-link, .afiliasi{
    text-align: center;
}
.buttons{
    display: none;
}
.list-link a, .afiliasi a{
    font-size: 16px;
    font-weight: 900;
    color: #ffffff88;
    text-decoration: none;
    display: list-item;
    list-style: none;
}
.list-link a:hover, .contact-list a:hover, .afiliasi a:hover{
    color: #fff;
}
.contact-list .list{
    display: flex;
    justify-content: center;
}
.contact-list a{
    margin: 0 auto;
    color: #ffffff88;
    font-size: 48px;
}
.footer .title{
    padding: 5px 10px;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #ffffff55;

}