@font-face {
    font-family: Chakra;
    src: url(ChakraPetch-Bold.ttf);
}

:root{
    --bg-color: #13005f;
    --py-color: #9861ff;
    --btdac-color: #ccabfb;
    --btac-color: #fff;
}

body{
    display: block;
    margin: 0;
    background-color: var(--bg-color);
    font-family: Chakra;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--py-color);
    box-shadow: 0 0 10px;
}

.logo{
    display: flex;
    width: 250px;
    justify-content: center;
}

.logo a{
    font-size: 2.5em;
    text-decoration: none;
    color: var(--btac-color);
}

.buttons{
    padding: 2px 10px;
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    color: var(--btdac-color);
    border-radius: 7px;
    transition: .5s ease;
    cursor:pointer;
}

.active{
    color: var(--btac-color);
    background-color: #13005f;
    box-shadow: inset 0 0 5px #000;
}

.buttons:hover{
    color: var(--btac-color);
}

.contents{
    margin-top: 70px;
    width: 100%;
    color: white;
    background-color: var(--py-color);
    box-shadow: 0 0 10px black;
}

.contents div{
    padding: 10px;
}

.profile-image{
    display: flex;
    justify-content: center;
}

.profile-image img{
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--bg-color);
}

.profile-information{
    padding: 30px;
    display: flex;
    border-radius: 20px;
    box-shadow: inset 10px 10px 25px var(--btdac-color),
    inset -10px -10px 25px black,
    1px 1px 3px var(--btdac-color);
}

.this-data p, .my-data p{
    font-size: 24px;
}

.thisGallery img{
    width: 200px;
}

@media (max-width:425px){
    .header{
        display: block;
        height: 80px;
    }

    .logo{
        display: flex;
        width: 100%;;
    }
    
    .logo a{
        font-size: 2.5em;
        color: var(--btac-color);
    }

    .buttons{

        justify-content: center;
        font-size: 12px;
        margin: 0 1px;
        cursor:pointer;
    }

    #navbar{
        display: flex;
        justify-content: center;
    }

    .contents {
        margin-top: 90px;
    }

    /*Style Format for Profile*/
    .this-data p, .my-data p{
        font-size: 14px;
    }
}