@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    margin: 0;
    font-family: 'Anta', sans-serif;
    color: #fff;
    font-size: 20px;
    user-select: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: #549c54;
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    overscroll-behavior: none;
}

.container{
    margin: 50px;
    padding: 30px;
    background: #005200;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 20px #001100, inset 0 0 20px #001100;
}
.canvas{
    
}
#camera{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#camera video{
    height: 100%;
}
#camera .drawingBuffer{
    display: none;
}

.control{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.control button{
    margin: 0 auto;
    background: transparent;
    width: 120px;
    border: 2px solid #0f8d0f;
    cursor: pointer;
}
.control .output{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}